menu "Memory Debug Utilities"

config HEAP_MEM_DEBUG
    bool "Print out heap memory status for debugging"
    default n

config HEAP_MEM_PERIOD
    int "Period in milliseconds to print heap memory status"
    default 1000

endmenu